body {
  width: 960px;
  margin: 0 auto;
  font-family: sans-serif;
  font-weight: bold;
}

form {
  width: 800px;
  margin: 0 auto;
}

h2 {
  display: block;
  font-size: 24px;
}

h2, label, input, button{
  margin: 20px;
}

h1  {
  margin: 0 auto;
  font-size: 30px;
}
